In [36]:
import numpy as np
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder
from sklearn.metrics import accuracy_score, confusion_matrix,recall_score, precision_score
df=pd.read_csv('/home/student/Documents/play_tennis.csv')
df.head()

  day   outlook  temp humidity    wind play
0  D1     Sunny   Hot     High    Weak   No
1  D2     Sunny   Hot     High  Strong   No
2  D3  Overcast   Hot     High    Weak  Yes
3  D4      Rain  Mild     High    Weak  Yes
4  D5      Rain  Cool   Normal    Weak  Yes

In [2]:
df

    day   outlook  temp humidity    wind play
0    D1     Sunny   Hot     High    Weak   No
1    D2     Sunny   Hot     High  Strong   No
2    D3  Overcast   Hot     High    Weak  Yes
3    D4      Rain  Mild     High    Weak  Yes
4    D5      Rain  Cool   Normal    Weak  Yes
5    D6      Rain  Cool   Normal  Strong   No
6    D7  Overcast  Cool   Normal  Strong  Yes
7    D8     Sunny  Mild     High    Weak   No
8    D9     Sunny  Cool   Normal    Weak  Yes
9   D10      Rain  Mild   Normal    Weak  Yes
10  D11     Sunny  Mild   Normal  Strong  Yes
11  D12  Overcast  Mild     High  Strong  Yes
12  D13  Overcast   Hot   Normal    Weak  Yes
13  D14      Rain  Mild     High  Strong   No

In [4]:
df['play'].value_counts()

play
Yes    9
No     5
Name: count, dtype: int64

In [6]:
py=9/14
pn=5/14
print("Probability of yes:",py)
print("Probability of no:",pn)

Probability of yes: 0.6428571428571429
Probability of no: 0.35714285714285715

In [9]:
#training the data
pd.crosstab(df['outlook'],df['play'])
#table in o/p is lookup table

play      No  Yes
outlook
Overcast   0    4
Rain       2    3
Sunny      3    2

In [10]:
pon=0    #probability outlook no
prn=2/5  #probability rainy no
psn=3/5  #probability sunny no
poy=4/9  #probability outlook yes
pry=3/9  #probability rainy yes
psy=2/9  #probability sunny yes
pd.crosstab(df['temp'],df['play'])

play  No  Yes
temp
Cool   1    3
Hot    2    2
Mild   2    4

In [12]:
prob_coolno=1/5
prob_hotno=2/5
pro_mildno=2/5
prob_coolyes=3/9
prob_hotyes=2/9
prob_mildyes=4/9
pd.crosstab(df['humidity'],df['play'])

play      No  Yes
humidity
High       4    3
Normal     1    6

In [13]:
prob_highno=4/5
prob_normalno=1/5
prob_highyes=3/9
prob_normalyes=6/9
pd.crosstab(df['wind'],df['play'])

play    No  Yes
wind
Strong   3    3
Weak     2    6

In [14]:
prob_strongno=3/5
prob_weakno=2/5
prob_strongyes=3/9
prob_weakyes=6/9

In [15]:
#problem 1:outlook=sunny,temp=hot,humidity=high,wind=weak,whether play or not
pyes=py*psy*prob_hotyes*prob_highyes*prob_weakyes
print(pyes)

0.007054673721340388

In [16]:
pno=pn*psn*prob_hotno*prob_highno*prob_weakno
print(pno)

0.02742857142857143

In [18]:
#problem 2:outlook=overcast,temp=cold,humidity=low,wind=weak
pyess=py*poy*prob_coolyes*prob_normalyes*prob_weakyes
print(pyess)

0.042328042328042326

In [19]:
pnoo=pn*pon*prob_coolno*prob_normalno*prob_weakno
print(pnoo)

0.0

In [31]:

le = LabelEncoder()
for column in df.columns:
    df[column] = le.fit_transform(df[column])

X = df.drop(columns=['play'])  
y = df['play']

In [32]:

X_train, X_test, y_train, y_test = train_test_split(X, y, train_size=0.8, random_state=10)


model = LogisticRegression()
model.fit(X_train, y_train)


y_pred = model.predict(X_test)

In [37]:
cm = confusion_matrix(y_test, y_pred)

TN, FP, FN, TP = cm.ravel()

accuracy = accuracy_score(y_test, y_pred)
error_rate = 1 - accuracy
precision = precision_score(y_test, y_pred)
recall = recall_score(y_test, y_pred)

print("Confusion Matrix:\n", cm)
print(f"True Positives (TP): {TP}")
print(f"False Positives (FP): {FP}")
print(f"True Negatives (TN): {TN}")
print(f"False Negatives (FN): {FN}")
print(f"Accuracy: {accuracy:.2f}")
print(f"Error Rate: {error_rate:.2f}")
print(f"Precision: {precision:.2f}")
print(f"Recall: {recall:.2f}")

Confusion Matrix:
 [[0 1]
 [0 2]]
True Positives (TP): 2
False Positives (FP): 1
True Negatives (TN): 0
False Negatives (FN): 0
Accuracy: 0.67
Error Rate: 0.33
Precision: 0.67
Recall: 1.00